.pg-statistics--options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.pg-statistics--child-th {
  padding: 8px 7px 8px 8px !important;
  text-align: center !important;
  &.not-last {
    border-right-color: transparent !important;
  }
}
