.pg-rules {
  .ant-page-header {
    padding: 12px 20px;
  }
  .ant-pro-page-container-warp {
    box-shadow: 0 1px 0 0 rgba(126, 134, 142, .16);
  }
  .ant-page-header-heading-left {
    margin-top: 0;
  }
  .ant-page-header-heading-title {
    color: #111f2c;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--bold);
    font-weight: 500;
  }
  .lieu-title {
    width: 38px;
    height: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 106, 254, 0.48);
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #006AFE;
    padding: 0 4px;
    margin-left: 8px;
  }
}
.pg-rules--options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

