.com-pop-balance-detail--modal-balance {
  .ant-modal-body {
    height: 156px;
    padding: 16px 24px 32px;
  }
}
.com-pop-balance-detail--modal-balance--texts {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.com-pop-balance-detail--modal-balance--topic {
  color: rgba(23, 26, 29, .4);
  font-size: 12px;
  line-height: 18px;
}
.com-pop-balance-detail--modal-balance--number {
  color: #171a1d;
  font-size: 14px;
  line-height: 22px;
}
.com-pop-balance-detail--modal-balance--item-wrap {
  &.ant-form-item .ant-select {
    width: 120px;
  }
}
.com-pop-balance-detail--modal-balance--item {
  display: flex;
  align-items: center;
}
.com-pop-balance-detail--modal-balance--select {
  flex: none;
  margin-right: 8px;
}
.com-pop-balance-detail--modal-balance--input {
  flex: none;
  width: 80px;
  margin-right: 8px;
}
.com-pop-balance-detail--modal-balance--unit {
  flex: none;
  color: rgba(23, 26, 29, .6);
  font-size: 14px;
  line-height: 22px;
}
