.primary-color {
  color: #1890ff;
}

@theme: #037afe;

.theme {
  color: @theme;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.white-space-nowrap {
  white-space: nowrap;
}

.title-left-border {
  padding-left: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-left: 4px solid @theme;
}


.ant-page-header.page-container-no-breadcrumb {
  padding-top: 0;

  .ant-page-header-footer {
    margin-top: 0;
  }
}

// css-gen 未生成 手动添加一个
.m-b-24 {
  margin-bottom: 24px;
}

.p-l-22 {
  padding-left: 22px;
}

.c-\#006AFE {
  color: #006afe;
}
