.com-pop-modal-complex-select--result-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.com-pop-modal-complex-select--result-box--title {
  flex: none;
  margin-bottom: 12px;
  color: #111f2c;
  font-size: 16px;
  line-height: 22px;
}
.com-pop-modal-complex-select--result-box--content {
  flex: auto;
  padding: 14px 16px;
  border: 1px solid #dddedf;
  border-radius: 4px;
  background-color: #f5f6f8;
}
.com-pop-modal-complex-select--result-box--dpet {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.com-pop-modal-complex-select--result-box--folder {
  flex: none;
  height: 14px;
  margin-right: 4px;
  color: #b9dbf9;
  font-size: 14px;
  line-height: 14px;
  cursor: default;
}
.com-pop-modal-complex-select--result-box--name {
  flex: auto;
  color: #171a1d;
  font-size: 14px;
  line-height: 22px;
  cursor: default;
}
.com-pop-modal-complex-select--result-box--remove {
  flex: none;
  height: 12px;
  color: rgba(23, 26, 29, .6);
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.com-pop-modal-complex-select--result-box--user {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.com-pop-modal-complex-select--result-box--avatar.com-avatar {
  flex: none;
  width: 28px;
  height: 28px;
  margin-right: 4px;
  border-radius: 50%;
  cursor: default;
  img {
    width: 100%;
    height: 100%;
  }
}
.com-pop-modal-complex-select--result-box--avatar-text {
  flex: none;
  width: 28px;
  height: 28px;
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #0089ff;
  cursor: default;
}
