.pg-auth--edit {
  .ant-drawer-content-wrapper {
    .ant-drawer-header {
      padding: 19px 20px;
      .ant-drawer-close {
        top: 24px;
        right: 20px;
        height: 16px;
        padding: 0;
        color: #34404b;
        font-size: 16px;
        line-height: 16px;
      }
    }
    .ant-drawer-footer {
      padding: 15px 20px 16px;
      border-top: 1px solid rgba(126, 134, 142, .16);
      box-shadow: none;
      button {
        margin-left: 12px;
      }
    }
  }
  .ant-drawer-header-title, .ant-drawer-title {
    color: #191f25;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--bold);
    font-weight: 500;
  }
  .ant-form-item-label > label {
    color: #171a1d;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--bold);
    font-weight: 500;
  }
  .ant-drawer-content .ant-drawer-body {
    padding: 0 20px 9px;
  }
  .com-form-user-select {
    width: 100%;
  }
}
.pg-auth--edit--count {
  color:#171a1d;
  font-size: 12px;
}
.pg-auth--edit--max-count {
  color: rgba(23, 26, 29, .24);
  font-size: 12px;
}
