.lay-basic-layout--wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.ant-pro-basicLayout {
  height: 100%;
  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item,
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 32px;
    line-height: 32px;
  }
}
#lay-basic-layout--content-header {
  z-index: 9;
}
.l-160 {
  left: 160px!important;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  box-shadow: none;
  border-right: 1px rgba(17, 31, 44, 0.08) solid;
}


